body{
    .nav {
        list-style-type: none;
        padding: 0;
      }
      
      .nav li {
        padding: 10px;
        background-color: #f0f0f0;
        margin-bottom: 5px;
        transition: background-color 0.3s;
      }
      
      .nav li:hover {
        background-color: #ddd;
      }
      
      .nav .active {
        background-color: #333;
        color: white;
      }
      
}